.footer {
    /*background-color: #06f5f5;*/
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    opacity: 75%;
    text-align: center;
    color: white;
    border-top: 5px solid black;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 150px;
    }