.footer {
    background-color: #ffffff;
    opacity: 75%;
    text-align: center;
    color: black;
    border-top: 5px solid black;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 150px;
    }