.footer {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    opacity: 75%;
    text-align: center;
    color: white;
    border-top: 5px solid black;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 150px;
    }

h5 {
    color: white;
    text-shadow: black 3px 4px 4px;
    }
    
p   {
    color: white;
    text-shadow: black 3px 4px 4px;
    font-size: 20px;
    }

.information {
    color: black;
    text-shadow: grey 1px 1px 2px;
}    